{% extends "homepage.html" %}
{% block part_content %}
<br />
<br/>
<br />
<div class="container">
  <div class="row clearfix">
    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel panel-heading">
          <h3 class="panel-title"> 工作日完成进度 剩余{{10}}日</h3>
        </div>
        <div class="panel-body">
          <p>项目进度</p>
          <div class="progress progress-striped active">
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-5">
      <div class="panel panel-default">
        <div class="panel panel-heading">
          <h3 class="panel-title"> 总积分</h3>
        </div>
        <div class="panel-body">
          <p>今日积分：{{this_month}}</p>
          <p>大部积分：{{200}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">各大部当月每日积分趋势图</p>
        </div>
        <div class="panel-body" style="width: 1100px;height:400px;" id="DP_score">
          <script type="text/javascript">
            var DpChart= echarts.init(document.getElementById('DP_score'));
            // 指定图表的配置项和数据
            var option = {
            tooltip: {
              trigger: 'axis'
              },
            legend: {
              data:['A部','B部']
              },
            grid: {
              left: '3%',
              right: '4%',
              bottom: '3%',
              containLabel: true
              },
            toolbox: {
              feature: {
                saveAsImage: {}
                }
              },
            xAxis: {
              type: 'category',
              boundaryGap: false,
              data: ['周一','周二','周三','周四','周五','周六','周日']
             },
            yAxis: {
              type: 'value'
              },
            series: [
              {
              name:'A部',
              type:'line',
              stack: '总量',
              data:[220, 182, 191, 234, 290, 330, 310]
              },
              {
              name:'B部',
              type:'line',
              stack: '总量',
              data:[150, 232, 201, 154, 190, 330, 410]
              },
              ]
            };
            //myChart = echarts.init(document.getElementById('DP_score'));
            DpChart.setOption(option);
          </script>
        </div>
      </div>
    </div>
  </div>


  <a name="DP"></a>
  <div class="col-md-10"><hr></div>
  <div class="row clearfix">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">各大部当月积分总览</p>
        </div>
        <table class="table">
          <strong>
          <th>大部</th><th>人数</th><th>新增线索</th><th>补充电话</th><th>批量增补</th><th>修正电话</th><th>其他</th><th>废弃电话</th><th>修改行业</th><th>线索贡献到款</th>
          </strong>
          <tr><td>hhdd</td><td>ohh</td><td>adfa</td><td>8888</td><td>2222</td><td>3333</td><td>3333</td><td>3333</td><td>3333</td><td>3333</td></tr>
        </table>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">各大部当月积分总览2</p>
        </div>
        <table class="table">
          <strong>
          <th>总积分</th><th>目标</th><th>完成率</th><th>达标率</th><th>可用积分</th>
          </strong>
          <tr><td>333333</td><td>444444</td><td>11111</td><td>22222</td><td>444444</td></tr>
        </table>
      </div>
    </div>
  </div>

  <a name="SP"></a>
  <div class="col-md-10"><hr></div>
  <div class="row clearfix">
    <div class="col-md-10">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">小部当月积分总览</p>
        </div>
        <table class="table">
          <strong>
          <th>大部</th><th>人数</th><th>新增线索</th><th>补充电话</th><th>批量增补</th><th>修正电话</th><th>其他</th><th>废弃电话</th><th>修改行业</th><th>线索贡献到款</th>
          </strong>
          <tr><td>hhdd</td><td>ohh</td><td>adfa</td><td>8888</td><td>2222</td><td>3333</td><td>3333</td><td>3333</td><td>3333</td><td>3333</td></tr>
        </table>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <p class="panel-title">小部当月积分总览2</p>
        </div>
        <table class="table">
          <strong>
          <th>总积分</th><th>目标</th><th>完成率</th><th>达标率</th><th>可用积分</th>
          </strong>
          <tr><td>333333</td><td>444444</td><td>11111</td><td>22222</td><td>444444</td></tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10">
    </div>
  </div>
</div>
{% endblock part_content%}